LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
HFM_API_KEY=
HFM_API_BASE_URL=https://api.hfaffiliates.com
TARGET_WALLET=
LINE_WHITELIST_ENABLED=true
LINE_WHITELIST_UIDS=
LINE_NOTIFY_UIDS=Uabc123,Udef456
SQLITE_PATH=./data/clients.db
INTERNAL_API_KEY=
PORT=3000
